In [9]:
using CSV, DataFrames, Dates

In [2]:
url = "http://www.infp.ro/data/romplus.txt"

"http://www.infp.ro/data/romplus.txt"

In [3]:
download(url,"./romania.txt")
# http_response = download(url)
# file = CSV.File(http_response)

"./romania.txt"

In [19]:
# function that parses the downloaded database and extract info to be put in dataframe
function seismic_db_parser(filename)

    # Declare types of the needed columns
    datetime = Vector{String}()
    latitude, longitude, depth =  Vector{Float64}(), Vector{Float64}(), Vector{Float64}()
    magnitude =  Vector{Float64}()
    
    # open the file
    open(filename) do io
        # skip the first line
        line = readline(io)
        while true
            # start reading the lines
            line = readline(io)
            # detect the end of the line
            line == "" && break
            # push to the vectors, the characters based on the position in the text file
            # push!(date,  strip(line[1:10]))
            push!(datetime,  strip(line[1:23]))
            push!(latitude, parse(Float64,strip(line[38:45])))
            push!(longitude, parse(Float64, strip(line[48:56])))
            push!(depth, parse(Float64, strip(line[76:80])))
            push!(magnitude, parse(Float64, strip(line[108:110])))
       end
    end
    # return the vectors with data as a dataframe
    [datetime, latitude, longitude, depth, magnitude]
end

seismic_db_parser (generic function with 1 method)

In [20]:
features = seismic_db_parser("romania.txt")

5-element Vector{Vector}:
 ["984/01/01  00:00:00.00", "1022/05/12  00:00:00.00", "1038/08/15  00:00:00.00", "1091/01/01  00:00:00.00", "1107/02/12  03:00:00.00", "1122/10/01  00:00:00.00", "1126/08/08  00:00:00.00", "1170/04/01  00:00:00.00", "1196/02/13  07:00:00.00", "1223/01/08  00:00:00.00"  …  "2022/12/28  07:38:54.27", "2022/12/28  13:15:05.47", "2022/12/29  02:06:28.32", "2022/12/29  09:28:11.27", "2022/12/29  09:42:33.92", "2022/12/29  12:16:03.08", "2022/12/29  13:11:43.57", "2022/12/30  14:23:49.39", "2022/12/31  03:16:48.32", "2022/12/31  15:24:39.55"]
 [45.7, 45.7, 45.7, 45.7, 45.7, 45.7, 45.7, 45.7, 45.7, 46.2  …  45.7505, 46.3193, 45.6714, 45.2972, 45.9596, 46.3226, 45.4378, 45.4639, 45.4082, 45.0022]
 [26.6, 26.6, 26.6, 26.6, 26.6, 26.6, 26.6, 26.6, 26.6, 24.4  …  26.6086, 23.1806, 26.6291, 25.093, 22.6972, 23.1438, 24.1116, 24.1433, 24.134, 22.6597]
 [150.0, 150.0, 150.0, 150.0, 150.0, 150.0, 150.0, 150.0, 150.0, 9.9  …  85.2, 2.0, 134.0, 2.0, 3.3, 1.0, 11.7, 14.0, 18.2, 4.5]
 [7.1, 6.5, 7.3, 7.1, 7.1, 6.2, 7.1, 7.3, 7.5, 5.9  …  2.9, 1.9, 2.8, 1.5, 1.6, 1.7, 2.1, 1.7, 1.7, 2.1]

In [6]:
df = DataFrame(Datetime=features[1], 
                Latitude=features[2], Longitude=features[3], Depth=features[4],
                Magnitude=features[5])

32628×5 DataFrame
   Row │ Datetime                 Latitude  Longitude  Depth    Magnitude
       │ String                   Float64   Float64    Float64  Float64
───────┼──────────────────────────────────────────────────────────────────
     1 │ 984/01/01  00:00:00.00    45.7       26.6       150.0        7.1
     2 │ 1022/05/12  00:00:00.00   45.7       26.6       150.0        6.5
     3 │ 1038/08/15  00:00:00.00   45.7       26.6       150.0        7.3
     4 │ 1091/01/01  00:00:00.00   45.7       26.6       150.0        7.1
     5 │ 1107/02/12  03:00:00.00   45.7       26.6       150.0        7.1
     6 │ 1122/10/01  00:00:00.00   45.7       26.6       150.0        6.2
     7 │ 1126/08/08  00:00:00.00   45.7       26.6       150.0        7.1
     8 │ 1170/04/01  00:00:00.00   45.7       26.6       150.0        7.3
   ⋮   │            ⋮                ⋮          ⋮         ⋮         ⋮
 32622 │ 2022/12/29  09:28:11.27   45.2972    25.093       2.0        1.5
 32623 │ 2022/12/29  09:42:33.92   45.9596    22.6972      3.3        1.6
 32624 │ 2022/12/29  12:16:03.08   46.3226    23.1438      1.0        1.7
 32625 │ 2022/12/29  13:11:43.57   45.4378    24.1116     11.7        2.1
 32626 │ 2022/12/30  14:23:49.39   45.4639    24.1433     14.0        1.7
 32627 │ 2022/12/31  03:16:48.32   45.4082    24.134      18.2        1.7
 32628 │ 2022/12/31  15:24:39.55   45.0022    22.6597      4.5        2.1
                                                        32613 rows omitted

In [13]:
dateformat = dateformat"yyyy/mm/dd  HH:MM:SS.s"

dateformat"yyyy/mm/dd  HH:MM:SS.s"

In [14]:
df.Datetime = DateTime.(df.Datetime, dateformat)

32628-element Vector{DateTime}:
 0984-01-01T00:00:00
 1022-05-12T00:00:00
 1038-08-15T00:00:00
 1091-01-01T00:00:00
 1107-02-12T03:00:00
 1122-10-01T00:00:00
 1126-08-08T00:00:00
 1170-04-01T00:00:00
 1196-02-13T07:00:00
 1223-01-08T00:00:00
 ⋮
 2022-12-28T13:15:05.470
 2022-12-29T02:06:28.320
 2022-12-29T09:28:11.270
 2022-12-29T09:42:33.920
 2022-12-29T12:16:03.080
 2022-12-29T13:11:43.570
 2022-12-30T14:23:49.390
 2022-12-31T03:16:48.320
 2022-12-31T15:24:39.550

In [15]:
df

32628×5 DataFrame
   Row │ Datetime                 Latitude  Longitude  Depth    Magnitude
       │ DateTime                 Float64   Float64    Float64  Float64
───────┼──────────────────────────────────────────────────────────────────
     1 │ 0984-01-01T00:00:00       45.7       26.6       150.0        7.1
     2 │ 1022-05-12T00:00:00       45.7       26.6       150.0        6.5
     3 │ 1038-08-15T00:00:00       45.7       26.6       150.0        7.3
     4 │ 1091-01-01T00:00:00       45.7       26.6       150.0        7.1
     5 │ 1107-02-12T03:00:00       45.7       26.6       150.0        7.1
     6 │ 1122-10-01T00:00:00       45.7       26.6       150.0        6.2
     7 │ 1126-08-08T00:00:00       45.7       26.6       150.0        7.1
     8 │ 1170-04-01T00:00:00       45.7       26.6       150.0        7.3
   ⋮   │            ⋮                ⋮          ⋮         ⋮         ⋮
 32622 │ 2022-12-29T09:28:11.270   45.2972    25.093       2.0        1.5
 32623 │ 2022-12-29T09:42:33.920   45.9596    22.6972      3.3        1.6
 32624 │ 2022-12-29T12:16:03.080   46.3226    23.1438      1.0        1.7
 32625 │ 2022-12-29T13:11:43.570   45.4378    24.1116     11.7        2.1
 32626 │ 2022-12-30T14:23:49.390   45.4639    24.1433     14.0        1.7
 32627 │ 2022-12-31T03:16:48.320   45.4082    24.134      18.2        1.7
 32628 │ 2022-12-31T15:24:39.550   45.0022    22.6597      4.5        2.1
                                                        32613 rows omitted

In [16]:
CSV.write("../data/romania.csv", df)

"../data/romania.csv"